.login{
    align-self: baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: calc(50% - 10rem);
    top: 10rem;
    background-color: #ffffffd2;
    border-radius: 1rem;
    padding: 3rem 2rem 3rem 2rem;  
    gap: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--surface-700);
    
}


#email{
    padding-right: 2.5rem;
}

.h3{
    font-size: 1.5rem;
    padding: 1rem;
}