.p-buttonLogo{
    background: transparent !important;
    border: none !important;
    color: transparent !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 3rem;
    height: 3rem;
    padding: 4rem;
    
}

.p-buttonLogo:hover{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: var(--primary-color) !important;
}
    
.p-buttonLogo:focus{
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
}


 
.logo{
    align-self: baseline;
}


.logo1{
    font-size: 2rem !important;
    font-weight: 900;
    color: black;
    display:flex
}

.logo1:hover h1{
    cursor: pointer;
    text-shadow: 0 0 0  !important;
}

.logo1:hover svg{
    cursor: pointer;
}
