.p-speeddial-button{
    background-color: transparent !important;
    border: 0 !important;
    
}

.p-speeddial-item{

}

.p-speeddial-item{
    width: 70% !important;
    box-shadow: 0 0 10px #fff !important;
    background-color: transparent !important;
    border-radius: 50% !important;
}

.p-speeddial-item:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.22), 0px 4px 5px rgba(0, 0, 0, 0.24), 0px 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    opacity: 1 !important;
    cursor: pointer;
    background-color: white !important;

}

/* TODO quitar el circulo del boton */
button :focus{
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

button:hover svg {
   fill:#fff;
   text-shadow: 0 0 10px #fff;
   border: 0 !important;
}

.p-speeddial-item:hover svg{
    fill:url(#MyGradient);
    text-shadow: 0 0 10px #fff;
}


.p-speeddial-item > a{
    background-color: transparent;
    padding: 15%;
}

.p-speeddial-item > a:hover{
    background-color: transparent !important;
}

.button.icon>svg{
    height: 70%;
}

#menu_button {
    position: fixed;
    top: 2%;
    left: 96%;
}

#menu_button>.p-speeddial>.p-speeddial-button>.icon>svg{
    padding: 0.4rem !important;
}
