#page404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: red !important;
}

.title404{
    font-size: 10rem !important;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    padding-bottom: 25px;
}
