.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: center;
    
}

.panelcontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}