#picklist > div > div > div > .p-picklist-source-controls {
    flex-direction: column !important;
}

.picklist-items > .p-picklist > .p-picklist-transfer-buttons{
    display: flex !important;
    flex-direction: column-reverse !important;
    rotate: -90deg !important;
    flex-wrap: wrap !important;
    width: 5rem !important;
    height: 6rem !important;
    transform: translateX(-16rem);
    gap: 1rem !important;
}

.picklist-items > .p-picklist > .p-picklist-source-controls{
    flex-direction: column !important;
    gap: 1rem !important;
}

.picklist-items > .p-picklist > .p-picklist-target-controls{
    flex-direction: column !important;
    gap: 1rem !important;
}