#picklist > div > div > div > .p-picklist-source-controls {
    flex-direction: column !important;
}

.picklist-items > .p-picklist > .p-picklist-transfer-buttons{
    display: flex !important;
    flex-direction: column !important;
    rotate: 90deg !important;
    flex-wrap: wrap !important;
    width: 6rem !important;
    height: 7rem !important;
    margin-top: 4rem !important;
    gap: 1rem !important;
}

.picklist-items > .p-picklist > .p-picklist-source-controls{
    flex-direction: column !important;
    gap: 1rem !important;
}

.picklist-items > .p-picklist > .p-picklist-target-controls{
    flex-direction: column !important;
    gap: 1rem !important;
}