#proceduresView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

#proceduresView > button {
    align-self: end;
    margin-bottom: 2em;

}




#procedures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#proceduresView .procedure{
    padding: 1em;
}