@media only screen and (max-width: 860px){

#stepform{
 margin-top: 7rem !important;
 display: flex;
 flex-direction: column;
}

#inputsform-stepform{
    display: flex;
    justify-content: center;
     flex-direction: column;
 } 
 
 #inputsform2-stepform{
     display: flex;
     justify-content: center;
    flex-direction: column;
 }
 #inputsform3-stepform{   
    display: flex;
    justify-content: center;
    gap: 3rem;
   flex-direction: column;
}

#inputtxt-stepform {
align-self: center;
}

#inputtxt-stepform > div > span > input{
    width: 20rem !important;
    
}

#inputnumb-stepform{
    align-self: center;
}

#inputnumb-stepform > div > div > span > input{
    /* width: 17rem !important; */

}

#inputselect-stepform > div > span > div {
    width: 23rem !important;
}

#h1form-stepform{
    text-align: center;
    padding-bottom: 2rem;
}

#toggle-stepform{
    display: flex;
    justify-content: end;
}

#toggle-stepform > div > div{
    width: 15rem !important;   
    
}


#editor-stepform > div > div{
    height: 6rem !important;
}



#img-stepform{
    border: 1px solid var(--primary-color); 
    border-radius: 0.3rem;
    height: 18rem !important; 
    margin-left: 2.5rem !important;
    align-self: center;
   
}

#img-stepform > span {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#img-stepform > span > img{   
    width: 85%;      
}

#file-stepform{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 3rem;  
}

#file-stepform > div > span > svg{
    width: 2rem !important;
}


}


  
@media (min-width:861px) and (max-width: 1100px){
    #stepform{
        margin-top: 7rem !important;
        display: flex;
        flex-direction: column;
       }
       
       #inputsform-stepform{
           display: flex;
           gap: 3rem !important;
            
        } 
        
        #inputsform2-stepform{
            display: flex;
            justify-content: center;
            gap: 4rem;
        }
        #inputsform3-stepform{   
           display: flex;
           justify-content: center;
           gap: 3rem;
          
       }
        
       
       
       #inputtxt-stepform > div > span > input{
           width: 19rem !important;
       }
       
       #inputnumb-stepform{
           align-self: center;
       }
       
       #inputnumb-stepform > div > div > span > input{
           /* width: 17rem !important; */
       
       }
       
       #inputselect-stepform > div > span > div {
           width: 18rem !important;
       }
       
       #h1form-stepform{
           text-align: center;
           padding-bottom: 2rem;
       }
       
       #toggle-stepform{
           display: flex;
           justify-content: end;
       }
       
       #toggle-stepform > div > div{
           width: 15rem !important;   
           
       }
       
       
       #editor-stepform > div > div{
           height: 6rem !important;
       }
       
       
       
       #img-stepform{
           border: 1px solid var(--primary-color); 
           border-radius: 0.3rem;
           height: 18rem !important; 
           margin-left: 2.5rem !important;
          
       }
       
       #img-stepform > span {
           display: flex;
           align-self: center;
           align-items: center;
           justify-content: center;
       }
       
       #img-stepform > span > img{   
           width: 85%;      
       }
       
       #file-stepform{
           display: flex !important;
           justify-content: center !important;
           align-items: center !important;
           gap: 3rem;  
       }
       
       #file-stepform > div > span > svg{
           width: 2rem !important;
       }

    }


    @media only screen and (min-width: 1101px){

        #stepform{
            margin-top: 7rem !important;
            display: flex;
            flex-direction: column;
           }
           
           #inputsform-stepform{
               display: flex;
               justify-content: center;
                
            } 
            
            #inputsform2-stepform{
                display: flex;
                justify-content: center;
                /* gap: 10rem; */
            }
            #inputsform3-stepform{   
               display: flex;
               justify-content: center;
               gap: 3rem;
              
           }
            
           
           
           #inputtxt-stepform > div > span > input{
               width: 24rem !important;
           }
           
           #inputnumb-stepform{
               align-self: center;
           }
           
           #inputnumb-stepform > div > div > span > input{
               /* width: 17rem !important; */
           
           }
           
           #inputselect-stepform > div > span > div {
               width: 23rem !important;
           }
           
           #h1form-stepform{
               text-align: center;
               padding-bottom: 2rem;
           }
           
           #toggle-stepform{
               display: flex;
               justify-content: end;
           }
           
           #toggle-stepform > div > div{
               width: 15rem !important;   
               
           }
           
           
           #editor-stepform > div > div{
               height: 6rem !important;
           }
           
           
           
           #img-stepform{
               border: 1px solid var(--primary-color); 
               border-radius: 0.3rem;
               height: 18rem !important; 
               margin-left: 2.5rem !important;
              
           }
           
           #img-stepform > span {
               display: flex;
               align-self: center;
               align-items: center;
               justify-content: center;
           }
           
           #img-stepform > span > img{   
               width: 85%;      
           }
           
           #file-stepform{
               display: flex !important;
               justify-content: center !important;
               align-items: center !important;
               gap: 3rem;  
           }
           
           #file-stepform > div > span > svg{
               width: 2rem !important;
           }
    }