


.table svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

td{
    text-align: center !important;
}

.p-datatable .p-column-header-content{
    font-weight: bold;
    justify-content: center !important;
}