


.table svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

td{
    text-align: center !important;
}

.td-image > img{
    width: 50px !important;
}

.p-datatable .p-column-header-content{
    font-weight: bold;
    justify-content: center !important;
}

/* TODO implementar las funciones de los botones de la tabla */
.p-paginator-left-content > button, .p-paginator-right-content > button {
    display: none;
}