.tool-form{
    width: auto;
    height: auto;
    margin-top: 5rem !important;
}



.panel-tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}

.input-tool-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem !important;
    
}

.input-tool-form>div>span>input{
    width: 35rem !important;
}

#editor-toolform> div > div{
    height: 5rem !important;
    margin-bottom: 3rem !important;
}
