#viewerModal{
    background-color: red !important;
}

#viewCanva{
    width: 100% !important;
    height: 100% !important;
}

#viewCanva > canvas{
    width: 100% !important;
    height: 100% !important;
}

.p-dialog-mask .p-dialog-content{
    overflow: hidden !important;
}
    
